/*Colors used:
1. #17252A
2. #3AAFA9
3. #DEF2F1
4. #272635
5. #52515d
*/

@font-face{
    font-family: "OpenSans";
    src: url("fonts/OpenSans-Regular.ttf");
}

/* Headings */

.h2{
    -fx-font-size: 22;
    -fx-font-weight:700;
    -fx-tex-fill: #17252A;
}

.h3{
    -fx-font-size: 20;
    -fx-font-weight:700;
    -fx-tex-fill: #17252A;
}

.h4{
     -fx-font-size: 18;
        -fx-font-weight:700;
        -fx-tex-fill: #17252A;
}

.h5{
     -fx-font-size: 16;
        -fx-font-weight:700;
        -fx-tex-fill: #17252A;
}

.h6{
 -fx-font-size: 14;
    -fx-font-weight:700;
    -fx-tex-fill: #17252A;
}

.p-3{
    -fx-padding: 30;
}


.root{
    -fx-background-color: #3AAFA9;
    -fx-font-family: "OpenSans";
    -fx-text-fill: #17252A;
    -fx-font-size:14;
}



.login-form{
    -fx-background-color: #FFFAFA;
}

/* Controls */

.label{
    -fx-font-weight:600;
}

.text-field{
    -fx-text-fill: #272635;
    -fx-pref-height: 40;
}

.small-text{
    -fx-font-size:10;
    -fx-text-fill: #272635;
}



.primary-btn{
    -fx-background-color: #DEF2F1;
    -fx-text-fill: #17252A;
    -fx-font-weight:400;
    -fx-padding: 5 30;
}

.secondary-btn{
    -fx-background-color: #272635;
    -fx-text-fill: white;
    -fx-font-size: 17;
    -fx-font-weight:700;
    -fx-padding: 5 30;
}

.secondary-btn:hover{
    -fx-background-color: #52515d;
    -fx-cursor: hand;
}

.utility-btn{
    -fx-background-color: #ffffff;
    -fx-text-fill: #FF4136 ;
    -fx-border-radius: 8;
    -fx-border-width: 3;
    -fx-border-style: solid;
    -fx-border-color: #FF4136;
    -fx-font-size: 13;
    -fx-font-weight:700;
    -fx-padding: 5 5;
}

.utility-btn:hover{
    -fx-background-color: #FF4136;
    -fx-text-fill: #ffffff ;
    -fx-border-radius: 8;
    -fx-border-width: 3;
    -fx-border-style: solid;
    -fx-border-color: #FF4136;
    -fx-font-size: 13;
    -fx-font-weight:700;
    -fx-padding: 5 5;
    -fx-cursor:hand;
}

.menu-btn{
-fx-background-color: #272635;
-fx-text-fill: #ffffff;
-fx-font-weight: bold;
}

.menu-btn:hover{
-fx-background-color: #52515d;
-fx-cursor: hand;
}

#menu{
    -fx-background-color: #272635;
}

.table-items{
    -fx-text-fill: #2B7A78;
    -fx-font-weight: 700;
}

.transparent-btn{
    -fx-background-color: rgba(255,255,255,0);
    -fx-border-style: hidden hidden hidden hidden;
}

.transparent-btn:hover{
    -fx-cursor: hand;
}

.list-item{
    -fx-padding: 8 10;
    -fx-background-color: #2B7A78;
    -fx-text-fill: white;
    -fx-border-style: hidden hidden solid hidden;
    -fx-border-color: white;
    -fx-border-width: 2;
}
.list-item:hover{
    -fx-background-color: white;
    -fx-text-fill: #2B7A78;
    -fx-cursor: hand;
}

.no-border{
    -fx-border-style: hidden hidden hidden hidden;
}

.right-border{
    -fx-border-style: hidden solid hidden hidden;
    -fx-border-color: grey;
}

.validate-err{
    -fx-text-fill: #fdca40;
    -fx-font-size: 12px;
    -fx-font-weight:bold;
}

.validate-success{
      -fx-text-fill: #002B00;
      -fx-font-size: 12px;
      -fx-font-weight:bold;
}

.arrow-btn{
    -fx-text-fill: #272635;
    -fx-font-weight: bold;
    -fx-background-color: transparent;
}

.test-border{
    -fx-border-style: solid;
    -fx-border-width: 5;
    -fx-border-color: #FF4136;
}




