/*Colors used:
1. #17252A - dark blue
2. #3AAFA9 - sea green
3. #DEF2F1 - light sea green
4. #272635 - dark blue 2
5. #52515d - grey
*/

@font-face{
    font-family: "Poppins";
    src: url("fonts/Poppins-Regular.ttf");
}

@font-face{
    font-family: "Poppins Medium";
    src: url("fonts/Poppins-Medium.ttf");
}

@font-face{
    font-family: "Poppins SemiBold";
    src: url("fonts/Poppins-SemiBold.ttf");
}

@font-face{
    font-family: "Poppins";
    src: url("fonts/Poppins-Bold.ttf");
}

/* Headings */


.h1{
    -fx-font-family: 'Poppins SemiBold', sans-serif;
    -fx-font-size: 24;
    -fx-font-weight:bold;
    -fx-tex-fill: #17252A;
    -fx-font-smoothing-type: lcd;
}

.h2{
    -fx-font-family: 'Poppins SemiBold', sans-serif;
    -fx-font-size: 22;
    -fx-font-weight:bold;
    -fx-tex-fill: #17252A;
    -fx-font-smoothing-type: lcd;
}

.h3{
 -fx-font-family: 'Poppins SemiBold', sans-serif;
    -fx-font-size: 20;
    -fx-font-weight:bold;
    -fx-tex-fill: #17252A;
    -fx-font-smoothing-type: lcd;
}

.h4{
 -fx-font-family: 'Poppins SemiBold', sans-serif;
     -fx-font-size: 18;
        -fx-font-weight:700;
        -fx-tex-fill: #17252A;
        -fx-font-smoothing-type: lcd;
}

.h5{
    -fx-font-family: 'Poppins', sans-serif;
     -fx-font-size: 16;
        -fx-font-weight:700;
        -fx-tex-fill: #17252A;
        -fx-font-smoothing-type: lcd;
}

.h6{
 -fx-font-family: 'Poppins', sans-serif;
 -fx-font-size: 14;
    -fx-font-weight:700;
    -fx-tex-fill: #17252A;
    -fx-font-smoothing-type: lcd;
}

/* Padding */

.p-1{
    -fx-padding: 5;
}

.p-2{
    -fx-padding: 10;
}

.p-3{
    -fx-padding: 15;
}

.p-4{
    -fx-padding: 20;
}

.p-5{
    -fx-padding: 25;
}

.p-10{
    -fx-padding: 100;
}

/* Margins all*/

.m-1{
    -fx-margin: 5;
}


.m-2{
    -fx-margin: 10;
}


.m-3{
    -fx-margin: 15;
}

.m-4{
    -fx-margin: 20;
}

.m-5{
    -fx-margin: 25;
}

/* Margins top bottom */

.ms-1{
    -fx-margin-left: 5;
    -fx-margin-right: 5;
}

.ms-2{
    -fx-margin-left: 10;
    -fx-margin-right: 10;
}

.ms-3{
    -fx-margin-left: 15;
    -fx-margin-right: 15;
}

.ms-4{
    -fx-margin-left: 20;
    -fx-margin-right: 20;
}

.ms-5{
    -fx-margin-left: 25;
    -fx-margin-right: 25;
}

/* Margins left right*/

.mv-1{
    -fx-margin-top: 5;
    -fx-margin-bottom: 5;
}

.mv-2{
    -fx-margin-top: 10;
    -fx-margin-bottom: 10;
}

.mv-3{
    -fx-margin-top: 15;
    -fx-margin-bottom: 15;
}

.mv-4{
    -fx-margin-top: 20;
    -fx-margin-bottom: 20;
}

.mv-5{
    -fx-margin-top: 25;
    -fx-margin-bottom: 25;
}

/* Margin Bottom */

.mb-2{
    -fx-margin-bottom: 10;
}

.root{
    -fx-background-color: #a4dbf4;
    -fx-font-family: "Poppins";
    -fx-text-fill: #17252A;
    -fx-font-size:14;
}

.title-bar{
    -fx-background-color: #ffffff;
}

.title-label{
        -fx-font-family: 'Poppins SemiBold', sans-serif;
        -fx-text-fill: #272635;
        -fx-font-size: 28;
        -fx-font-weight: bold;
        /*-fx-padding: 5 5 5 30;*/
}

.modal-big-radius{
    -fx-border-radius: 20;
    -fx-background-radius: 20;
}

.modal-box{
    -fx-border-radius: 8;
    -fx-background-radius: 8;
    -fx-border-color: #EBEFF3;
    -fx-background-color : #EBEFF3;
    -fx-effect : dropshadow(two-pass-box,#485e66,15,0.1,10,10);
}

/* Controls */


.text-field{
    -fx-text-fill: #272635;
    -fx-pref-height: 40;
}

.small-text{
    -fx-font-size:10;
    -fx-text-fill: #272635;
}



.primary-btn{
    -fx-background-color: #DEF2F1;
    -fx-text-fill: #17252A;
    -fx-font-weight:400;
    -fx-padding: 5 30;
}

.secondary-btn{
    -fx-background-color: #272635;
    -fx-text-fill: white;
    -fx-font-size: 17;
    -fx-font-weight:700;
    -fx-padding: 5 30;
}

.secondary-btn:hover{
    -fx-background-color: #52515d;
    -fx-cursor: hand;
}

.danger-btn{
  -fx-background-color: #E03554;
    -fx-text-fill: white;
    -fx-font-size: 17;
    -fx-font-weight:700;
    -fx-padding: 5 30;
}

.danger-btn:hover{
 -fx-background-color: #8c3846;
    -fx-cursor: hand;
}

.alert-btn{
  -fx-background-color: #fdca40;
    -fx-text-fill: white;
    -fx-font-size: 17;
    -fx-font-weight:700;
    -fx-padding: 5 30;
}

.alert-btn:hover{
 -fx-background-color: #a38741;
    -fx-cursor: hand;
}

.tertiary-btn{
 -fx-background-color: #AF6F9F;
    -fx-text-fill: white;
    -fx-font-size: 17;
    -fx-font-weight:700;
    -fx-padding: 5 30;
}

.tertiary-btn:hover{
-fx-background-color: #633758;
    -fx-cursor: hand;

}

.utility-btn{
    -fx-background-color: #ffffff;
    -fx-text-fill: #FF4136 ;
    -fx-border-radius: 8;
    -fx-border-width: 3;
    -fx-border-style: solid;
    -fx-border-color: #FF4136;
    -fx-font-size: 13;
    -fx-font-weight:700;
    -fx-padding: 5 5;
}

.utility-btn:hover{
    -fx-background-color: #FF4136;
    -fx-text-fill: #ffffff ;
    -fx-border-radius: 8;
    -fx-border-width: 3;
    -fx-border-style: solid;
    -fx-border-color: #FF4136;
    -fx-font-size: 13;
    -fx-font-weight:700;
    -fx-padding: 5 5;
    -fx-cursor:hand;
}

.menu-btn{
-fx-background-color: #272635;
-fx-text-fill: #ffffff;
-fx-font-weight: bold;
}

.menu-btn:hover{
-fx-background-color: #52515d;
-fx-cursor: hand;
}

#menu{
    -fx-background-color: #272635;
}

.table-items{
    -fx-text-fill: #2B7A78;
    -fx-font-weight: 700;
}

.transparent-btn{
    -fx-background-color: rgba(255,255,255,0);
    -fx-border-style: hidden hidden hidden hidden;
}

.transparent-btn:hover{
    -fx-cursor: hand;
}

.list-item{
    -fx-padding: 8 10;
    -fx-text-fill: #17252A;
    -fx-border-style: hidden hidden solid hidden;
    -fx-border-color: #17252A;
    -fx-border-width: 2;
}
.list-item:hover{
    -fx-background-color: white;
    -fx-text-fill: #2B7A78;
    -fx-cursor: hand;
}

.no-border{
    -fx-border-style: hidden hidden hidden hidden;
}

.right-border{
    -fx-border-style: hidden solid hidden hidden;
    -fx-border-color: grey;
}

.validate-err{
    -fx-text-fill: #8c2c20;
    -fx-font-size: 14px;
}

.validate-success{
      -fx-text-fill: #002B00;
      -fx-font-size: 13px;
      -fx-font-weight:bold;
}

.arrow-btn{
    -fx-text-fill: #272635;
    -fx-font-weight: bold;
    -fx-background-color: transparent;
}

.test-border{
    -fx-border-style: solid;
    -fx-border-width: 5;
    -fx-border-color: #FF4136;
}

.scroll-pane > .viewport {
   -fx-background-color: transparent;
}

.transparent-background{
     -fx-background-color: transparent;
}

.base-background{
     -fx-background-color: #3AAFA9;
}

.customer-detail-card{
    -fx-border-radius: 8;
    -fx-background-radius: 8;
    -fx-border-color: white;
    -fx-background-color : white;
	-fx-effect : dropshadow(two-pass-box,#485e66,10,0,0,0);
}



